body {
  background-color: #eaf6f6;
}
h1{
color:#66bfbf;
font-size: 120px;
}
img:hover{background-color: gold;}
p{
color:#66bfbf;
font-size:20px;}
img
{background-color: White;}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color:grey;
  border-width:2px;
  height:1px;
  width:100%;
}

.banana{background-color: green; }
.pineapple{background-color: red;}
